
@font-face {
  font-family: "custom"; 
  src: url("./ep.png/Ubuntu-MonoNerd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
    color: white;
    background-color: white;
    font-family: "custom";
    height: 100vh;
    width: 100vw;
}