/* {
    "version": "1.0.3",
    "allow-cookies": "all",
    "github_url": "https://github.com/Asif-Tanvir-2006/rootaccess_web_chal_pdf/tree/main",
    "author": "Asif"
    a
} */



@font-face {
  font-family: "custom"; 
  src: url("./ep.png/Ubuntu-MonoNerd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
    color: white;
    background-color: white;
    font-family: "custom";
    height: 100vh;
    width: 100vw;
}